@import "variables";


@media all and (min-width: 320px) and (orientation: portrait) {

}

@media all and (min-width: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .mainContainer {
    height: 320px;
  }
  .header {
    height: 16%;
  }
  .logo {
    width: 40%;
    height: 42%;
  }
  .slogan {
    height: 8px;
  }
  .slogan__title {
    font-size: 1.2rem;
  }
  .subscribe__link {
    height: 90%;
  }
  .slogan__triangle {
    border-width: 10px 25px 0 25px;
  }
  .advantages {
    display: none;
  }
  .mediaEmptySpaces {
    height: 35px;
  }
  .subscribe {
    height: 26px;
  }
  .emptySpaces {
    height: 214px;
  }
}

@media screen and (min-width: 400px) and (orientation: landscape) {
  $sloganHeight: 2%;
  .slogan {
    height: $sloganHeight;
  }
  .subscribe__link {
    height: 120%;
  }
  .slogan__triangle {
    border-width: 18px 25px 0 25px;
  }
}

@media screen and (min-width: 300px) and (orientation: portrait) {
  .slogan__title {
    font-size: 1.2rem;
  }
  .advantages {
    @include justFlex();
    height: 40%;
  }
  .mediaEmptySpaces {
    display: none;
  }
  .advantages__img {
    height: 55%;
  }
  .slogan__triangle {
    border-width: 12px 25px 0 25px;
  }
}

@media screen and (min-width: 660px) and (orientation: landscape) {
  .mediaEmptySpaces {
    display: none;
  }
  .slogan__triangle {
    left: 47%;
  }
  .advantages {
    @include rowAndCenter();
  }
  .advantages__img {
    height: 90%;
    width: 33%;
  }
}
@media screen and (min-width: 700px) and (orientation: landscape) {
  $h1FontSize: 2rem;
  $h2FontSize: 1.6rem;
  $h3FontSize: 1.6rem;
  .title__text {
    font-size: $h1FontSize;
  }
  .slogan__title {
    font-size: $h2FontSize;
  }
  .advantages {
    height: $advantagesHeight;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .advantages__title {
    font-size: $h3FontSize;
  }
  .subscribe__title {
    font-size: $h3FontSize;
  }
  .mediaEmptySpaces {
    display: none;
  }
  .slogan__triangle {
    border-width: 20px 25px 0 25px;
  }
  .emptySpaces {
    font-size: 16px;
  }

}

@media screen and (min-width: 760px) and (orientation: portrait) {
  $mainFontSize: 14px;
  html {
    font-size: $mainFontSize;
  }
  .advantages__img {
    height: 60%;
  }
  .slogan__triangle {
    left: 48%;
  }
  .emptySpaces {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) and (orientation: landscape) {
  .mainContainer {
    height: 100%;
  }
  $headerImg: "../img/bigHeaderBG.jpg";
  .header {
    background: url($headerImg) 95% 5% no-repeat;
    background-size: cover;
  }
  .mediaEmptySpaces {
    display: none;
  }
  .title {
    -webkit-box-flex: 70%;
    -ms-flex: 70%;
    flex: 70%;
    height: 90%;
    margin-right: 5%;
  }
  .emptySpaces {
    font-size: 18px;
  }
}
@media screen and (min-width: 1000px) and (orientation: portrait) {
  $mainFontSize: 17px;
  html {
    font-size: $mainFontSize;
  }
  .title__text {
    margin-right: 8%;
  }
  .title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .logo {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  $h1FontSize: 2rem;
  .title__text {
    font-size: $h1FontSize;
  }
}