$darkBlue: #004a4d;
$lightBlue: #007e8a;
$textColor_white: #eaeaea;

$mainContainerBackground: $lightBlue;
$headerImg: "../img/headerBG.jpg";
$headerMainBack: url($headerImg) 70% no-repeat;
$sloganMainColor: #434d57;
$advantagesMainColor: #ffffff;
$subscribeMainColor: #ffffff;
$mediaEmptySpacesMainColor: #ffffff;
$emptySpacesMainColor: $lightBlue;

$containerHeight: 100%;
$headerHeight: 15%;
$sloganHeight: 7%;
$advantagesHeight: 35%;
$subscribeHeight: 8%;
$emptySpacesHeight: $containerHeight - $headerHeight - $sloganHeight - $advantagesHeight - $subscribeHeight;

$h1FontSize: 2rem;
$h2FontSize: 1.6rem;
$h3FontSize: 1.6rem;

$h1FontSize: 1.5rem;
$h2FontSize: 1.4rem;
$h3FontSize: 1.2rem;


$mainFontSize: 10px;

$decreaseNum: 2;


@mixin makeItCenter() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin makeThemPretty () {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin transition($what: background, $time: .2s) {
  transition: $what $time linear;
  -webkit-transition: $what $time linear
}

@mixin justFlex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin rowAndCenter() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

