/*sass --watch style.scss:style.css*/

@import "variables";
@import "fonts";


html {
  font-size: $mainFontSize;
}

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: $textColor_white;
  font-family: "PFDinDisplay", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0 !important;
  font-size: 1rem;
}
a {
  color: inherit;
}

.mainContainer {
  width: 100%;
  height: 100%;
  font-family: "SegoeUIRegular",  Arial, Helvetica, sans-serif;

  background: $mainContainerBackground;
}

.container {
  width: 100%;
  height: $containerHeight;

  background: $mainContainerBackground;
}

.header {
  width: 100%;
  height: $headerHeight;
  min-height: 55px;
  @include makeThemPretty();

  background: $headerMainBack;
  background-size: cover;
}

.logo {
  width: 32%;
  height: 44%;
  background: url("../img/logo.png") center no-repeat;
  background-size: contain;
}

.title {
  width: 60%;
  height: 80%;
  @include makeItCenter();
}
.title__text {
  text-align: center;
  font-size: $h1FontSize;
}

.slogan {
  width: 100%;
  height: $sloganHeight;
  min-height: 50px;

  position: relative;
  @include makeItCenter();

  background-color: $sloganMainColor;
}
.slogan__title {
  font-size: $h2FontSize;
  text-align: center;
}
.slogan__triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 25px 0 25px;
  border-color: $sloganMainColor transparent transparent transparent;
  top: 99%;
  left: 44%;
}

.mediaEmptySpaces {
  width: 100%;
  height: 10%;
  background: $mediaEmptySpacesMainColor;
}

.advantages {
  width: 100%;
  height: $advantagesHeight;
  min-height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  @include makeItCenter();
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  color: $sloganMainColor;
  background-color: $advantagesMainColor;
  display: none;
}
.advantages__title {
  font-size: $h3FontSize;
  color: $sloganMainColor;
}
.advantages__img {
  height: 53%;
  width: 100%;
  background: url("../img/eset_sp_box.png") no-repeat bottom;
  background-size: contain;
}
.advantages__text {
  margin-bottom: 2%;
}

.subscribe {
  width: 100%;
  height: $subscribeHeight;
  padding-bottom: 2%;
  @include makeItCenter();

  background-color: $subscribeMainColor;
}
.subscribe__link {
  width: 70%;
  height: 70%;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @include makeItCenter();
  @include transition($what: box-shadow);
  -webkit-box-shadow: inset 3px 5px 20px 6px rgba(191, 255, 191, 0.52);
  box-shadow: inset 3px 5px 20px 6px rgba(191, 255, 191, 0.52);


  background-color: #5ead23;
}
.subscribe__link:hover {
  -webkit-box-shadow: inset 2px -6px 20px 6px rgba(60, 78, 60, 0.25);
  box-shadow: inset 2px -6px 20px 6px rgba(60, 78, 60, 0.25);
  @include transition($what: box-shadow);
}
.subscribe__link:active {
  @include transition($what: box-shadow);
  -webkit-box-shadow: inset 0 0 13px 6px rgba(47, 53, 47, 0.37);
  box-shadow: inset 0 0 13px 6px rgba(47, 53, 47, 0.37);
}
.subscribe__title {
  color: #ffffff;
  font-size: $h3FontSize;
}

.emptySpaces {
  width: 100%;
  height: inherit;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: inset 0 1px 20px 5px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 1px 20px 5px rgba(0, 0, 0, 0.35);

  background-color: $emptySpacesMainColor;
}
#template-caption-pilot span {
  font-size: 10px;
  font-family: Arial !important;
}
#template-caption-pilot span a {
  text-decoration: underline;
}
.hide__content {
  display: none;
}



@import "media";