@import "variables";

@media screen and (min-width: 400px) and (orientation: landscape) {
  $sloganHeight: 3%;
  .slogan {
    height: $sloganHeight;
  }
  .subscribe__link {
    height: 80%;
  }
  .slogan__triangle {
    border-width: 18px 25px 0 25px;
  }
}


@media all and (device-width: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .mainContainer {
    height: 320px;
  }
  $headerImg: "./img/smallHeaderBG.jpg";
  .header {
    height: 48px;
    background: url($headerImg) 70% no-repeat;
  }
  .slogan {
    height: 10px;
  }
  .subscribe__link {
    height: 90%;
  }
  .slogan__triangle {
    border-width: 18px 25px 0 25px;
  }
  .advantages {
    display: none;
  }
  .mediaEmptySpaces {
    height: 22px;
  }
  .subscribe {
    height: 26px;
  }
  .emptySpaces {
    height: 214px;
  }
}

@media screen and (min-width: 300px) and (orientation: portrait) {
  .advantages {
    display: flex;
  }
  .mediaEmptySpaces {
    display: none;
  }
}

@media screen and (min-width: 660px) and (orientation: landscape) {
  .slogan__triangle {
    left: 47%;
  }
}
@media screen and (min-width: 700px) and (orientation: landscape) {
  $h1FontSize: 2.5rem;
  $h2FontSize: 1.6rem;
  $h3FontSize: 1.6rem;
  .title__text {
    font-size: $h1FontSize;
  }
  .slogan__title {
    font-size: $h2FontSize;
  }
  .advantages__title {
    font-size: $h3FontSize;
  }
  .subscribe__title {
    font-size: $h3FontSize;
  }
  .advantages {
    display: flex;
  }
  .mediaEmptySpaces {
    display: none;
  }
  .slogan__triangle {
    border-width: 20px 25px 0 25px;
  }

}

@media screen and (min-width: 760px) and (orientation: portrait) {
  $mainFontSize: 14px;
  html {
    font-size: $mainFontSize;
  }
}
@media screen and (min-width: 1000px) and (orientation: portrait) {
  $mainFontSize: 20px;
  html {
    font-size: $mainFontSize;
  }
  $h1FontSize: 2.3rem;
  .title__text {
    font-size: $h1FontSize;
  }
}
@media screen and (min-width: 900px) and (orientation: landscape) {
  $headerImg: "./img/bigHeaderBG.jpg";
  .header {
    background: url($headerImg) 70% no-repeat;
  }
}

