$darkBlue: #004a4d;
$lightBlue: #007e8a;
$textColor_white: #eaeaea;

$mainContainerBackground: $lightBlue;
$headerImg: "./img/headerBG.jpg";
$headerMainBack: url($headerImg) 70% no-repeat;
$sloganMainColor: #434d57;
$advantagesMainColor: #ffffff;
$subscribeMainColor: #ffffff;
$mediaEmptySpacesMainColor: #ffffff;
$emptySpacesMainColor: $lightBlue;

$containerHeight: 100%;
$headerHeight: 15%;
$sloganHeight: 10%;
$advantagesHeight: 20%;
$subscribeHeight: 8%;
$emptySpacesHeight: $containerHeight - $headerHeight - $sloganHeight - $advantagesHeight - $subscribeHeight;

$h1FontSize: 2rem;
$h2FontSize: 1.6rem;
$h3FontSize: 1.6rem;

$h1FontSize: 1.5rem;
$h2FontSize: 1.4rem;
$h3FontSize: 1.2rem;


$mainFontSize: 10px;

$decreaseNum: 2;


@mixin makeItCenter() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin makeThemPretty () {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin transition($what: background, $time: .2s) {
  transition: $what $time linear;
  -webkit-transition: $what $time linear
}

@mixin justFlex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


html {
  font-size: $mainFontSize;
}

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: $textColor_white;
  font-family: "PFDinDisplay", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0 !important;
  font-size: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}