@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular.eot");
  src: url("../font/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

html {
  font-size: 10px; }

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 2rem;
  color: #eaeaea;
  font-family: "PFDinDisplay", sans-serif; }


h1, h2, h3, h4, h5 {
  margin: 0 !important;
  font-size: 2rem; }

a {
  color: inherit; }

.mainContainer {
  width: 100%;
  height: 100%;
  font-family: "SegoeUIRegular",  Arial, Helvetica, sans-serif;
  background: #007e8a; }

.clearfix::after, .clearfix::before {
  content: '';
  display: block;
  clear: both;
}
.wrapper {
  background: transparent url('../img/bg.jpg') center no-repeat;
  display: table;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  font-size: 1em;
  line-height: 1.42;
  font-family: Arial,sans-serif;
}
.wrapper__btn {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  color: gray;
  padding: 3px 5px;
  border: none;
  outline: none;
  border-radius: 7px;
}
.header {
  background-color: rgba(0, 0, 0, .5);
  display: table-row;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__col-logo {
  flex-basis: 35%;
}
.header__col-title {
  flex-basis: 65%;
}
.header__logo {
  padding: 10px;
}
.header__img {
  display: block;
  margin: 0 auto;
  vertical-align: baseline;
}
.header__title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttons {
  position: absolute;
  top: 80%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.buttons__btn {
  width: 70%;
  display: inline-block;
  padding: 2%;
  background-color: #83bf0a;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
}
.main {
  display: table-row;
  background: transparent url('../img/bg.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.main__inner {
  display: table-cell;
}
.priceInfo {
  font-size: 18px;
}

/*========   ADVANTAGES   ===========*/

.advantages {
  width: 80%;
  text-align: center;
  margin: 20px auto;
  display: flex;
}
/*.advantages__img {
  width: 100%;
  height: 50%;
  background: url("../img/production.png") no-repeat center;
  background-size: contain;
}*/
.advantages__title,
.advantages__text-bold {
  font-size: 2.5rem;
}
.advantages__text-topic {
  margin: 10px;
}
.advantages__text-strong {
  text-align: center;
  border-bottom: 2px ridge #83bf0a;
  padding-bottom: 2px;
}
.round {
  color: #83bf0a;
  width: .5%;
  height: auto;
}
.advantages__text-bold {
  margin-top: 30px;
}

/*========  END OF ADVANTAGES   ===========*/




.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: table-row;
}
.footer__text-block {
  padding: 10px;
  margin: 0;
  font-size: .7rem;
  color: #fff;
}
.footer__text-block a {
  color: inherit;
}
.hide__content {
  display: none;
}
@media screen and (max-width: 375px) {
  .header__title {
    font-size: 16px;
  }
}
@media (orientation: landscape) {
  .footer__text-block {
    padding: 5px
  }
  .advantages__text-topic {
    margin-top: 20px;
  }
  .advantages__text-strong {
    border-color: transparent;
  }
  .advantages__text-p {
    display: none;
  }
  .buttons {
    top: 80%;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  .buttons__btn {
    font-size: 20px;
    padding: 15px 50px 15px 20px;
    -webkit-background-size: 48px;
    background-size: 48px;
  }
}